<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LBIPU</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-dark navbar-expand-lg bg-youngBlue">
            <div class="container">
                <img src="assets/LBIPU.png" class="me-4" alt="" />
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse navleft" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link ml-4 px-4 active" aria-current="page" href="#">Beranda</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active ml-4 px-4" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Akademik
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Kelas Reguler</a></li>
                                <li>
                                    <a class="dropdown-item" href="#">Kelas Internasional</a>
                                </li>
                                <li><a class="dropdown-item" href="#">MKDU</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active ml-4 px-4" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Program
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">ETP</a></li>
                                <li><a class="dropdown-item" href="#">BIPA</a></li>
                                <li>
                                    <a class="dropdown-item" style="color: blue" href="#"><u>Lihat semua</u></a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active ml-4 px-4" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Lowongan
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Dosen Tidak Tetap</a></li>
                                <li><a class="dropdown-item" href="#">Pendamping Tutor</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-4 ml-4 px-4 active" aria-current="page" href="#">Galeri</a>
                        </li>
                    </ul>
                </div>

                <form class="d-flex form-size" role="search">
                    <input class="form-control me-2" type="search" placeholder="Cari disini..." aria-label="Search" />
                    <button class="btn btn-primary" type="submit">Cari</button>
                </form>
            </div>
        </nav>
    </header>
    <main>
        <center>
            <iframe width="100%" height="450"
                src="https://www.youtube.com/embed/HH12-_ne6vU?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1"
                frameborder="0" allow="autoplay; encrypted-media"></iframe>
        </center>
        <section class="informasi">
            <div class="container">
                <h1>
                    <center>Pengumunan Informasi</center>
                </h1>
                <center>
                    <div class="row">
                        <div class="col">
                            <div class="card" style="width: 22rem">
                                <img src="assets/11.jpg" class="card-img-top" alt="card" />
                                <div class="card-body">
                                    <p class="card-text">
                                        Some quick example text to build on the card title and
                                        make up the bulk of the card's content.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 22rem">
                                <img src="assets/11.jpg" class="card-img-top" alt="card" />
                                <div class="card-body">
                                    <p class="card-text">
                                        Some quick example text to build on the card title and
                                        make up the bulk of the card's content.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 22rem">
                                <img src="assets/11.jpg" class="card-img-top" alt="card" />
                                <div class="card-body">
                                    <p class="card-text">
                                        Some quick example text to build on the card title and
                                        make up the bulk of the card's content.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 22rem">
                                <img src="assets/11.jpg" class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <p class="card-text">
                                        Some quick example text to build on the card title and
                                        make up the bulk of the card's content.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 22rem">
                                <img src="assets/11.jpg" class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <p class="card-text">
                                        Some quick example text to build on the card title and
                                        make up the bulk of the card's content.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="width: 22rem">
                                <img src="assets/11.jpg" class="card-img-top" alt="..." />
                                <div class="card-body">
                                    <p class="card-text"">
                                            Some quick example text to build on the card title and
                                            make up the bulk of the card's content.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </center>
                    <div class=" container text-center">
                                        <a href="#" class="btn btn-primary viewall">Lihat semua</a>
                                </div>
                            </div>
        </section>
        <section class="pelayanan">
            <div class="container">
                <center>
                    <h1>Layanan Online</h1>
                    <div class="row">
                        <div class="col">
                            <div class="description">

                            </div>
                        </div>
                        <div class="col-8">
                            <div class="description">
                                <img src="assets/testtoep.png" alt="" class="pelayanan-image" />
                                <div class="text-description">
                                    <div class="jarak">&nbsp;</div>
                                    <h3>Pendaftaran Tes TOEP Mandiri</h3>
                                    <a href="#" class="btn btn-primary">Daftar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="description">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="description">

                            </div>
                        </div>
                        <div class="col-8">
                            <div class="description">
                                <img src="assets/kursustoep.png" alt="" class="pelayanan-image" />
                                <div class="text-description">
                                    <div class="jarak">&nbsp;</div>
                                    <h3>Pendaftaran Kursus TOEP Online</h3>
                                    <a href="#" class="btn btn-primary">Daftar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="description">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="description">

                            </div>
                        </div>
                        <div class="col-8">
                            <div class="description">
                                <img src="assets/sertiftoep.png" alt="" class="pelayanan-image" />
                                <div class="text-description">
                                    <div class="jarak">&nbsp;</div>
                                    <h3>Pengajuan Sertifikat dan Surat Keterangan Online</h3>
                                    <a href="#" class="btn btn-primary">Ajukan</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="description">

                            </div>
                        </div>
                    </div>
                    <br>

                </center>
            </div>
        </section>

        <!-- bagian kalendar akademik-->
        <section class="kalendarAkademik">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <h1>
                            <center>Kalender Akademik UMS 2022/2023</center>
                        </h1>
                    </div>
                    <div class="col-md-8">
                        <center>
                            <img src="assets/KALENDERAKADEMIK.png" alt="kalender" width="100%"
                                style="border: 1px solid red;"></img>
                        </center>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <footer class="text-center text-lg-start text-white">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row my-4">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

                    <div class="shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto">
                        <img src="assets/UMS.png" width="200px" height="auto" alt="" loading="lazy" class= />
                    </div>
                    <div class="shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto">
                        <img src="assets/LBIPU.png" width="100px" height="auto" alt="" loading="lazy" class= />
                    </div>

                    <ul class="list-unstyled d-flex flex-row justify-content-center">
                        <li>
                            <a class="text-white px-2" href="#!">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </li>
                        <li>
                            <a class="text-white px-2" href="#!">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a class="text-white ps-2" href="#!">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                    </ul>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4">Kantor</h5>

                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <a href="https://www.ums.ac.id/" target="_blank" class="text-white"
                                style="text-decoration: none;">Universitas Muhammadiyah
                                Surakarta</a>
                        </li>
                        <li class="mb-2">
                            <p class="text-white"></i>LBIPU (Lembaga Bahasa dan
                                Ilmu Pengetahuan Umum)</a>
                        </li>
                        <li class="mb-2">
                            <p class="text-white"></i>Lantai 4, Gedung i, Kampus 1

                                Universitas Muhammadiyah Surakarta

                                Jl. Ahmad Yani , Pabelan, Kartasura

                                57102, Surakarta, Jawa Tengah

                                Indonesia
                                </a>
                        </li>
                        <li class="mb-2">
                            <p class="text-white">Telepon: (+62)-271- 717417 ext. 2129, 2179</p>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4">Tentang Kami</h5>

                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <a href="#!" class="text-white">Profil</a>
                        </li>
                        <li class="mb-2">
                            <a href="#!" class="text-white">Visi, misi, dan tujuan</a>
                        </li>
                        <li class="mb-2">
                            <a href="#!" class="text-white">Sejarah</a>
                        </li>
                        <li class="mb-2">
                            <a href="#!" class="text-white">Struktur organisasi</a>
                        </li>
                    </ul>

                    <h5 class="text-uppercase mb-4 mt-4">Keanggotaan</h5>
                    <div class="row keanggotaan text-center">
                        <div class="col"><img src="assets/filba.png" alt=""></div>
                        <div class="col"><img src="assets/bc.png" alt=""></div>
                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4">Media Sosial</h5>

                    <ul class="list-unstyled">
                        <li>
                            <p><i class="fas fa-map-marker-alt pe-2"></i>Warsaw, 57 Street, Poland</p>
                        </li>
                        <li>
                            <p><i class="fas fa-phone pe-2"></i>+ 01 234 567 89</p>
                        </li>
                        <li>
                            <p><i class="fas fa-envelope pe-2 mb-0"></i>contact@example.com</p>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            Copyright © 2022 Lembaga Bahasa dan Ilmu Pengetahuan Umum. All Rights Reserved
        </div>
        <!-- Copyright -->
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>